transformers
bitsandbytes
accelerate
peft
pandas
pyarrow
jsonlines
wandb
einops
timm
einops_exts
sentencepiece
shortuuid
seaborn
deepspeed
matplotlib
openai
scikit-learn
word2number
opencv-python
Rouge
python-Levenshtein
gradio